@model int

<td class="text-right">
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model"><i class="fas fa-edit"></i></a>
    <a onclick="if (!(confirm('Bạn có chắc muốn xóa sản phẩm này'))) { return false}" type="button" class="btn btn-danger rounded-0" asp-action="Delete" asp-route-id="@Model"><i class="fas fa-trash-alt"></i></a>
</td>
